
.maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 30px;
    border: none;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

.title {
    font-size: 2.5rem;
    color: #9966cc;
    margin-bottom: 30px;
    text-align: center;
}

.product{
    width: 60%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 30px;
}

.productName{
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

.price {
    font-size: 1.5rem;
    color: #e60000; /* Bright color for the price */
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}

.description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
    max-width: 800px;
    text-align: center;
}

.cart {
    background-color: #9966cc;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.full-page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
}

