.navBar {
    background-color: #9966cc;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    height: 120px;
    width: 120px;
    margin: 10px;
    padding: 10px;

}

.searchButton {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;

}

.icon {
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.navBar>div {
    padding: 100px;
    margin: 10px;
}